
.selected {
    background-color: red;}

.square {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    position: absolute;

}

.wall {
    background-color: black;
}

.puzzle {
    background-color: red;
}


.player {
    width: 20px;
    height: 20px;
    position: relative;

    padding: auto;
    margin-top: 10px;
    margin-left: 10px;

    border: 1px solid black;
    border-radius: 10px;
}