.left {
    border: 1px solid red;
    height: 20px;
    width: 20px;
}

.middle {
position: relative;
    border: 1px solid blue;
    height: 20px;
    width: 20px;
    float: right;
    clear: both;

}

